/COPYING
/Config-build.in
/Config.in
/LICENSES
/Makefile
/README.SDK
/build_dir
/dl
/feeds.conf.default
/include
/key-build
/package
/prepare.mk
/private-key.pem
/rules.mk
/scripts
/staging_dir
/target
